{% extends 'base.html.twig' %}

{% block title %}Noticias - Fastscore{% endblock %}

{% block content %}
<h1 class="mb-4">Últimas Noticias</h1>

<div class="container">
    <div class="row">
        {% for new in news %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ new.link }}" class="text-decoration-none" target="_blank">{{ new.title }}</a>
                    </h5>
                    <strong><p class="card-text mb-0">{{ new.text }}</p></strong>
                    <p class="card-text mb-0">{{ new.content }}</p>
                    <p class="card-text mb-0"><small class="text-muted">{{ new.date }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 